@charset 'utf-8';
.jd_container {
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}

.channelsB {
    width: 100%;
    height: 1005px;
    margin-bottom: 20px;
    overflow: hidden;
}

.floorhd {
    height: 65px;
}

.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}

.floorhd_tit,
.floorhd_tit_empty {
    position: relative;
    width: 150px;
    height: 45px;
    font-size: 28px !important;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
    padding: 0 30px;
    margin: 0 auto 20px !important;
    overflow: hidden;
    color: #333;
}

.floorhd_tit:after,
.floorhd_tit:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.floorhd_tit:before {
    background-image: url(../img/channel1.png);
    background-position: 0 0;
    width: 25px;
    height: 20px;
    left: 0;
}

.floorhd_tit:after {
    background-image: url(../img/channel1.png);
    background-position: -25px 0;
    width: 25px;
    height: 20px;
    right: 0;
}

.channelsB .channels_block {
    position: relative;
    .channels_item_link {
        position: relative;
        display: inline-block;
    }
    .channels_item_img {
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
        }
        width: 100%;
        height: 100%;
        background: #d8d8d8;
        .lazyimg_loaded {
            background: #fff;
        }
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
        }
    }
    .channels_item img {
        display: block;
    }
    .channels_item_title {
        display: block;
        height: 30px;
        margin-left: 30px;
        margin-right: 10px;
        padding-top: 17px;
        padding-bottom: 13px;
        line-height: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .channels_item_title_main {
        font-size: 22px;
        font-weight: 700;
        color: #333;
    }
    .channels_item_title_aside {
        font-size: 14px;
        color: #999;
        margin-left: 5px;
    }
    .channels_item_imgs {
        font-size: 0;
        line-height: 0;
        padding-left: 30px;
        .channels_item_link {
            margin-right: 30px;
        }
        .channels_item_img {
            display: inline-block;
            width: 100px;
            height: 100px;
            -webkit-transition: opacity .2s ease;
            transition: opacity .2s ease;
        }
    }
    .channels_item_img.lazyimg_loaded {
        background: #fff;
    }
}

.channelsB .channels_block_1 {
    .channels_block_wrapper {
        width: 604px;
        padding-left: 600px;
    }
    .channels_item_1 {
        .channels_item_link {
            height: 370px;
            width: 290px;
        }
    }
}

.channelsB .channels_block .channels_item {
    background: #fff;
}

.channelsB .channels_block_1 .channels_item_1,
.channelsB .channels_block_1 .channels_item_2 {
    height: 370px;
    top: 0;
}

.channelsB .channels_block_1 .channels_item_1,
.channelsB .channels_block_1 .channels_item_3,
.channelsB .channels_block_1 .channels_item_4,
.channelsB .channels_block_1 .channels_item_5 {
    left: 0;
}

.channelsB .channels_block_1 .channels_item_3,
.channelsB .channels_block_1 .channels_item_6 {
    top: 380px;
}

.channelsB .channels_block_1 .channels_item_2,
.channelsB .channels_block_1 .channels_item_6,
.channelsB .channels_block_1 .channels_item_7,
.channelsB .channels_block_1 .channels_item_8 {
    left: 300px;
}

.channelsB .channels_block_1 .channels_item_4,
.channelsB .channels_block_1 .channels_item_7 {
    top: 570px;
}

.channelsB .channels_block_1 .channels_item_5,
.channelsB .channels_block_1 .channels_item_8 {
    top: 760px;
}

.channelsB .channels_block_1 .channels_item_1,
.channelsB .channels_block_1 .channels_item_2,
.channelsB .channels_block_1 .channels_item_3,
.channelsB .channels_block_1 .channels_item_4,
.channelsB .channels_block_1 .channels_item_5,
.channelsB .channels_block_1 .channels_item_6,
.channelsB .channels_block_1 .channels_item_7,
.channelsB .channels_block_1 .channels_item_8 {
    position: absolute;
}

.channelsB .channels_block .channels_item {
    display: inline-block;
    width: 290px;
    height: 180px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.channelsB .channels_block_1 .channels_item_1 .channels_item_link,
.channelsB .channels_block_1 .channels_item_2 .channels_item_link {
    height: 370px;
    width: 290p;
}

.channelsB .channels_block_1 .channels_item_1 .channels_item_link:after,
.channelsB .channels_block_1 .channels_item_2 .channels_item_link:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(255, 255, 255, .2);
    opacity: 0;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}